/* For small devices. */
 
header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 150px;
    max-width: 300px; 
    background-color:lightgray;
    margin: auto;
    text-align: center;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    margin:25px;
    justify-items: center;  
}
.container{
    display: flex;
    align-items: center;
    height: 90px;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    justify-items: center;
    max-width: 150px; 
    padding: 10px;
}
.app-cont{  /*ievaditie laucini*/
    display: flex;
    flex-flow: row wrap;
    grid-gap: 10px;
    margin: auto;
    max-width: 150px; 
    padding-left: 70px;
    align-items: center;
}
footer{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50px;
    color: purple;
}
.fizz-buzz {
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: bold;
    text-align: center;
    background-color:purple;
    width:30px;
    height:30px;
    padding: 20px;
    align-content: center;
    justify-items: center;
    border: solid 5px purple;
    color:white;
}
.fizz-buzz:hover{
    background-color: white;
    border: solid 5px purple;
    color:black;
    font-weight: bold;
}
.fizz {
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: bold;
    text-align: center;
    background-color:plum;
    width: 30px;
    height:30px;
    padding: 20px;
    border: solid 5px plum;
}
.fizz:hover{
    background-color: white;
    border: solid 5px plum;
    color:black;
    font-weight: bold;
}
.buzz {
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: bold;
    text-align: center;
    background-color:pink;
    width: 30px;
    height:30px;
    padding: 20px;
    border: solid 5px pink;
}
.buzz:hover{
    background-color: white;
    border: solid 5px pink;
    color:black;
    font-weight: bold;
}
.default{
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: bold;
    text-align: center;
    background-color:paleturquoise;
    width: 30px;
    height:30px;
    padding: 20px;
    border: solid 5px paleturquoise;
}
.default:hover{
    background-color: white;
    border: solid 5px paleturquoise;
    color:black;
    font-weight: bold;
}

/* For tablets */
@media (min-width: 576px){ 
header{
    max-width: 440px; 
    height: 100px;
}
.app-cont{  /*ievaditie laucini*/
    max-width: 500px;
    padding-left: 55px;
}
.container{
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    justify-content:center;
    padding: 0px;
}
}
/* For desktops */
@media (min-width: 992px) {
header{
    max-width: 880px; 
}
.app-cont{  /*ievaditie laucini*/
    max-width: 900px;
    padding-left: 10px;
}
}
